<!DOCTYPE html>
<html>

<head>
    <title>Enroll</title>
    <link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.4/dist/terminal.min.css" />
</head>

<body class="terminal">

    <div class="container">

        <section>
            <header>
                <h1>Enroll Student</h1>
            </header>

            <form method="POST" enctype="multipart/form-data">
                <fieldset>
                    <legend>Student Details</legend>

                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input id="name" name="name" type="text" required minlength="2" placeholder="Enter name">
                    </div>

                    <div class="form-group">
                        <label for="roll">Roll Number:</label>
                        <input id="roll" name="roll" type="text" required placeholder="Enter roll">
                    </div>

                    <div class="form-group">
                        <label for="images">Upload Images:</label>
                        <input id="images" name="images" type="file" multiple required>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-default" type="submit">Enroll</button>
                    </div>

                </fieldset>
            </form>
        </section>

        <hr>
        <section>
            <h1>Students</h1>

            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Roll</th>
                    </tr>
                </thead>
                <tbody>
                    {% for id, name, roll in students %}
                    <tr>
                        <td>{{ id }}</td>
                        <td>{{ name }}</td>
                        <td>{{ roll }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </section>
    </div>
</body>

</html>