<!DOCTYPE html>
<html>

<head>
  <title>Face Attendance</title>
  <link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.4/dist/terminal.min.css" />
</head>

<body class="terminal">
  <div class="container">
    <br>
    <nav style="margin-bottom: 20px;">
      <a href="/" class="btn btn-default">Home</a>
      <a href="/enroll" class="btn btn-default btn-ghost">Enroll</a>
      <a href="/attendance" class="btn btn-default btn-ghost">Attendance</a>
      <a href="/settings" class="btn btn-default btn-ghost">Settings</a>
    </nav>

    <header>
      <h1>Face Attendance System</h1>
    </header>

    <section>
      <p>
        Upload student images to enroll them, then upload a classroom video
        to automatically mark attendance using face recognition.
      </p>
    </section>

    <hr>
    <pre>
        .---.
        |[X]|
 _.==._.""""".___n__
d __ ___.-''-. _____b
|[__]  /."""".\ _   |
|     // /""\ \\_)  |
|     \\ \__/ //    |
|pentax\`.__.'/     |
\=======`-..-'======/
 `-----------------'   localrice
</pre>
  </div>
</body>

</html>